<div class="container">
  <h3><b><%= @questionList[0].platform %></b></h3>
  <% @questionList.each do |question| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to question.name, question %>
    </h2>
    <a class="btn btn-default btn-sm" href="<%= question.url %>">
      Visit Question
    </a>
  </br>
    <div class="btn-group">
      Upvotes - 
      <%= question.get_upvotes.size %>
      Downvotes - 
      <%= question.get_downvotes.size %>
    </div>
  </div>
  <% end %>
</div>
