<h1 class="title">
	<%= link_to @question.name, @question.url  %>
</h1>
<p>
	Published originally by <strong><%= @question.platform %></strong>
</p>

<div class="btn-group pull-right">
  <%= link_to like_question_path(@question), method: :put, class: "btn btn-success btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @question.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_question_path(@question), method: :put, class: "btn btn-danger btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= @question.get_downvotes.size %>
  <% end %>
</div>